.nonote {
    position: absolute;
}

.nonote :hover{
    background-color: aliceblue !important;
}

.app-nonote {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.default-heading{
    position: absolute;
    top:45%;
    left: 33%;
    pointer-events: none;
    text-align: center;
    color: rgb(110, 111, 112);
}

@media (max-width: 600px) {
    .default-heading{
        left: 8%;
    }

    
  }