<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Nonote</a>
      <p *ngIf="nonote?.savingStatus==1" class="saving-status">Saving...</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" data-bs-toggle="tooltip">
            <button class="btn btn-link" (click)="save()">
                <i class="bi bi-save"></i>
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link" (click)="password()">
                <i *ngIf="nonote?.passwordProtected" class="bi bi-unlock"></i>
                <i *ngIf="!nonote?.passwordProtected" class="bi bi-lock"></i>
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link" (click)="open()">
                <i class="bi bi-folder2-open"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  