[data-bs-theme=dark]{
    .ck .ck-toolbar{
        background-color: #212529;
    }
    
    .ck .ck-button{
        background: #ffffff00 !important;
        color: hsl(0, 0%, 80%);
    }

    .ck.ck-editor__main > .ck-editor__editable {
        background-color: #212529;
    }

    .move-btn{
        background-color: rgba(240, 248, 255, 0.127);
    }

    .ck .ck-editor__editable .ck-focused :not(.ck-editor__nested-editable){
        border: 1px solid white;
    }

    .ck-content pre{
        color: hsl(0deg 0% 86.45%);
        background-color: hsl(0deg 0% 78% / 10%);
    }
}

[data-bs-theme=light]{
    
}

